button {
    height: 50px;
    width: 150px;
    border-radius: 20px;
    font-size: 20px;
    margin: 20px;
    background-color: rgb(70, 139, 163);
    color: rgb(11, 14, 14);
    font-weight: 700;
}

.divCartList {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    margin: 5px;
    align-items: center;
}

.imgCart {
    width: 100px;
    margin: 20px;
    border: 1px solid black;
}

.pCart {
    display: flex;
    align-items: center;
}